<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>

<link href="/css/Bootstrap.css" type="text/css" rel="stylesheet">
<link href="/css/theme.css" type="text/css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body class="bg-gray-100">

	<div th:replace="~{header.html :: header}" ></div>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu"
				class="col-md-3 col-lg-2 d-md-block sidebar collapse"
				style="max-width: 150px">
				<div class="sidebar-sticky position-sticky p-2">
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item"><a class="nav-link active" href="#">
								Dashboard </a></li>
						<li class="nav-item"><a class="nav-link" href="Profile">
								Profile </a></li>
						<li class="nav-item"><a class="nav-link"
							href="Exercise"> Exercise </a></li>
						<li class="nav-item"><a class="nav-link" href="Sleep">
								Sleep </a></li>
						<li class="nav-item"><a class="nav-link" href="Diet">
								Diet </a></li>
					</ul>

					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item"><a class="nav-link" href="signOut" >Signout</a></li>
					</ul>
				</div>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2" th:inline="text">
						Welcome to your Dashboard
						[[${user.firstName}]]
					</h1>
				</div>
				<div class="row d-flex flex-wrap flex-md-nowrap p-2">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Your Daily Calorie Goals</h5>
							</div>
							<div class="card-body">
								<div class="chart-container">
									<canvas class="chart" id="dailyCalories"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Your Weekly Calories</h5>
							</div>
							<div class="card-body ">
								<div class="chart-container">
									<canvas class="chart" id="weeklyCalories"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row d-flex flex-wrap flex-md-nowrap p-2">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Your Daily Step Goal</h5>
							</div>
							<div class="card-body">
								<div class="chart-container">
									<canvas class="chart" id="dailySteps"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Your Weekly Steps</h5>
							</div>
							<div class="card-body">
								<div class="chart-container">
									<canvas class="chart" id="weeklySteps"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row d-flex flex-wrap flex-md-nowrap p-2">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Your Sleep Week Diary</h5>
							</div>
							<div class="card-body ">
								<div class="chart-container">
									<canvas class="chart" id="weeklySleep"></canvas>
								</div>
							</div>
						</div>
					</div>


				</div>

			</main>

		</div>
	</div>




	<script src="/js/Bootstrap.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
		integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:inline="javascript">
		
		var stepsDone = "[[${stepsDone}]]";
		var stepsLeft = "[[${stepsLeft}]]";
	
		var dailySteps = document.getElementById('dailySteps').getContext('2d');

		var dailyStepsChart = new Chart(dailySteps, {
			type : 'pie',
			data : {
				labels : [ 'Steps Done', 'Steps Remaining' ],
				datasets : [ {
					label : 'Steps',
					data : [ stepsDone, stepsLeft, ],
					backgroundColor : [ 'blue', 'red' ]
				} ]
			},
			options : {
				maintainAspectRatio : false
			}
		});
		
		
		var caloriesEaten = "[[${caloriesEaten}]]";
		var caloriesLeft = "[[${caloriesLeft}]]";
		
		var dailyCalories = document.getElementById('dailyCalories')
				.getContext('2d');

		var dailyCaloriesChart = new Chart(dailyCalories, {
			type : 'pie',
			data : {
				labels : [ 'Carlories Eaten', 'Calories Remaining' ],
				datasets : [ {
					label : 'Caloires',
					data : [ caloriesEaten, caloriesLeft, ],
					backgroundColor : [ 'blue', 'red' ]
				} ]
			},
			options : {
				maintainAspectRatio : false
			}
		});

		var weeklyCalories = document.getElementById('weeklyCalories');

		var curr = new Date;

		//Get Monday
		var first = curr.getDate() - curr.getDay() + 1;

		var firstDay = new Date(curr.setDate(first))
				.toLocaleDateString("en-GB");

		var second = curr.getDate() - curr.getDay() + 2;
		var secondDay = new Date(curr.setDate(second))
				.toLocaleDateString("en-GB");

		var third = curr.getDate() - curr.getDay() + 3;
		var thirdDay = new Date(curr.setDate(third))
				.toLocaleDateString("en-GB");

		var fourth = curr.getDate() - curr.getDay() + 4;
		var fourthDay = new Date(curr.setDate(fourth))
				.toLocaleDateString("en-GB");

		var fifth = curr.getDate() - curr.getDay() + 5;
		var fifthDay = new Date(curr.setDate(fifth))
				.toLocaleDateString("en-GB");

		var sixth = curr.getDate() - curr.getDay() + 6;
		var sixthDay = new Date(curr.setDate(sixth))
				.toLocaleDateString("en-GB");

		var seventh = curr.getDate() - curr.getDay() + 7;
		var seventhDay = new Date(curr.setDate(seventh))
				.toLocaleDateString("en-GB");

		const dayLabels = [ firstDay, secondDay, thirdDay, fourthDay, fifthDay,
				sixthDay, seventhDay ];

		var weeklyCaloriesChart = new Chart(weeklyCalories, {
			type : 'bar',
			data : {
				labels : dayLabels,
				datasets : [ {
					label : 'Calories Eaten',
					data : [ 2300, 1600, 1680, 1500, 1600, 1900, 2100 ],
					backgroundColor : [ 'green' ]
				} ]
			},
			options : {
				maintainAspectRatio : false
			}
		});

		var weeklySteps = document.getElementById('weeklySteps').getContext(
				'2d');

		var weeklyStepsChart = new Chart(weeklySteps, {
			type : 'bar',
			data : {
				labels : dayLabels,
				datasets : [ {
					label : 'Steps Done',
					data : [ 5300, 3000, 5500, 2300, 7000, 6500, 1200 ],
					backgroundColor : [ 'green' ]
				} ]
			},
			options : {
				maintainAspectRatio : false
			}
		});

		var weeklySleep = document.getElementById('weeklySleep').getContext(
				'2d');

		var weeklySleepChart = new Chart(weeklySleep, {
			type : 'bar',
			data : {
				labels : dayLabels,
				datasets : [ {
					label : 'Sleep in Hours',
					data : [ 8, 6.5, 4.3, 6.7, 7.3, 7.5, 8.5 ],
					backgroundColor : [ 'green' ]
				} ]
			},
			options : {
				maintainAspectRatio : false
			}
		});
	</script>
</body>

</html>