
<header th:fragment="header" class="navbar navbar-expand-lg sticky-top flex-md-nowrap p-0 shadow">
	<div class="container">
		<a class="navbar-brand" style="color: white; font-size: 30px"
			href="#">Healthy-Life</a>
		<button class="navbar-toggler d-md-none collapsed" type="button"
			data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
			aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</header>