<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Healthy-Life</title>

<link href="/css/Bootstrap.css" type="text/css" rel="stylesheet">
<link href="/css/mainPage.css" type="text/css" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body style="background-color: #eeeff0">
	<nav class="navbar navbar-expand-lg sticky-top"
		style="background-color: #7209b7">
		<div class="container">
			<a class="navbar-brand" style="color: white; font-size: 30px"
				href="#">Healthy-Life</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					<li class="dropdown"><a id="Sign-in"
						class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">Sign in</a>
						<ul class="dropdown-menu" th:classappend="${error != null ? 'show' : ''}"style="width: 200px">
							<li>
								<form class="needs-validation " action="loginServlet"
									method="POST" novalidate>
										<div th:if="${error != null}" class= "px-2 mb-2">
											<div class="alert alert-danger"role="alert">
		  										<p th:text="${error}"></p>
		  									</div>
		  								</div>		
									<div class="px-2 mb-2">
										<label for="login-email-input">Email Address</label> <input
											type="email" class="form-control" id="login-email-input"
											name="login-email" autocomplete="email"
											placeholder="name@example.com" required>
										<div class="invalid-feedback">Please enter a valid email
										</div>
									</div>
									<div class="px-2 mb-2">
										<label for="login-password-input">Password</label> <input
											type="password" class="form-control"
											id="login-password-input" name="login-password"
											autocomplete="current-password" placeholder="Password123"
											required>
										<div class="invalid-feedback">Please enter a password</div>
									</div>
									<div class="text-center mb-2">
										<button id="sign-in" type="submit" class="btn btn-primary">Sign In</button>
									</div>
								</form>
							</li>
						</ul>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<!-- Left -->
			<div class="col-md-6" id="mainPageLeft"
				style="background-image: url('./images/mainpage_image.jpg');">
				<div class="colour-overlay d-flex">
					<h1 class="p-3">Welcome to Healthy-Life:</h1>
				</div>
			</div>

			<!-- Right -->
			<div
				class="col-md-6 d-flex justify-content-center align-items-center"
				id="mainPageRight">
				<div class="card my-3" style="width: 300px;">
					<div class="card-body">
						<h5 class="card-title">Join Today:</h5>
						<form class="needs-validation" method="POST" action="registerServlet" novalidate>
							<div class= "px-2 mb-2" th:if="${exists != null}">
								<div class="alert alert-danger"role="alert">
	  								<p th:text="${exists}"></p>
	  							</div>
	  						</div>		
							<div class="mb-2">
								<label for="first-name-input" class="form-label">First
									name</label> <input type="text" class="form-control"
									id="first-name-input" name="register-first-name" placeholder="John"
									autocomplete="given-name" pattern="[A-za-z]+" required>
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter your first name
								</div>
							</div>
							<div class="mb-2">
								<label for="last-name-input" class="form-label">Last
									name</label> <input type="text" class="form-control"
									id="Last-name-input" name="register-last-name" placeholder="Smith"
									autocomplete="family-name" pattern="[A-za-z]+" required>
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter your last name
								</div>
							</div>
							<div class="mb-2">
								<label for="email-input" class="form-label">Email
									address</label> <input type="email" class="form-control"
									id="email-input" name="register-email" autocomplete="email"
									placeholder="name@example.com" required>
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter a valid email</div>
							</div>
							<div class="mb-2">
								<label for="password-input" class="form-label">Password</label>
								<input type="password" class="form-control" id="password-input" name="register-password"
									autocomplete="new-password" placeholder="Password123" required>
								<div class="valid-feedback"></div>
								<div class="invalid-feedback">Please enter a password</div>
							</div>
							<div class="text-center">
								<button id="sign-up" type="submit" class="btn btn-primary">Sign
									Up</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/Bootstrap.js"></script>
	<script src="/js/registerValidation.js" type="text/javascript"></script>

	<!-- Prevents Sign in drop down from closing when clicking off of it and when failing to sign in -->
	<script type="text/javascript">
		$('.dropdown').on('hide.bs.dropdown', function(e) {
			if (e.clickEvent) {
				e.preventDefault();
			}
		});
	</script>


</body>
</html>